/* generale */
body {
  color: #ffffff;
}
#header_bottom,
#portfolio,
#about,
#contact,
#footer_top {
  padding: 80px 0;
}
h1,
h2,
h3,
h4,
p.head {
  text-transform: uppercase;
}
h3 {
  color: #2c3e50;
  text-align: center;
  font-weight: 800;
}
/* /generale */

/* header */
#header_top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #2c3e50;
  z-index: 1
}
#header_bottom {
  margin-top: 100px;
  background-color: #1abc9c;
  text-align: center;
}
nav {
  text-align: right;
}
#avatar {
  width: 240px;
}
/* /header */

/* main */
/* portfolio */
#portfolio h3 {
  margin: 0;
}
#portfolio  .col-lg-4 {
  padding: 15px;
}
#portfolio img {
  width: 100%;
  border-radius: 10px;
}
/* /portfolio */

/* about */
#about {
  background-color: #1abc9c;
}
#about h3,
#about a {
  color: #ffffff;
}
#about .button {
  text-align: center;
}
#about a {
  display: inline-block;
  padding: 16px 28px;
  border: 2px solid #ffffff;
  border-radius: 5px;
}
/* /about */

/* contact */
#contact {
  color: #2c3e50;
}
#contact input:not([type="submit"]),
textarea {
  display: block;
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid #e9ecef;
}
::placeholder {
  color: #6c757d;
  font-weight: 500;
  font-size: 1.2em;
}
#contact input:focus,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
/* /contact */
/* /main */

/* footer */
#footer_top {
  background-color: #2c3e50;
}
#footer_bottom {
  height: 70px;
  padding: 40px 0;
  background-color: #1a252f;
  text-align: center;
}
/* /footer */
