
/* generale */
body {
  color: #ffffff;
}
h3 {
  text-transform: uppercase;
  font-weight: 800;
}
/* /generale */

/* header */
#header_top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #2c3e50;
  z-index: 1
}
#header_bottom {
  margin-top: 100px;
  padding: 100px 0;
  background-color: #1abc9c;
}
#header_bottom .col-xs-10 {
  height: 580px;
  background-color: #ffffff;

}
/* /header */

/* main */
/* portfolio */
#portfolio {
  padding: 100px 0;
  text-align: center;
}
#portfolio h3 {
  color: #2c3e50;
  margin: 0;
}
#portfolio .row:first-child {
  margin-bottom: 48px;
}
#portfolio  .col-lg-4 {
  padding: 0 20px;
}
#portfolio img {
  width: 100%;
  border-radius: 10px;
}
/* /portfolio */

#about {
  height: 610px;
  background-color: #1abc9c;
}
#contact {
  height: 970px;
}
/* /main */

/* footer */
#footer_top {
  height: 300px;
  background-color: #2c3e50;
}
#footer_bottom {
  height: 70px;
  background-color: #1a252f;
}
/* /footer */
