/* debug */
.debug [class*="col-"] {
  height: 50px;
  background-color: lightgrey;
  border: 1px solid black;
}
/* /debug */

/* header */
#header_top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #2c3e50;
  padding: 24px 0;
}
#header_bottom {
  height: 780px;
  background-color: #1abc9c;
}
/* /header */

/* main */
#portfolio {
  height: 850px;
}
#about {
  height: 610px;
  background-color: #1abc9c;
}
#contact {
  height: 970px;
}
/* /main */

/* footer */
#footer_top {
  height: 300px;
  background-color: #2c3e50;
}
#footer_bottom {
  height: 70px;
  background-color: #1a252f;
}
/* /footer */
