/* generale */
body,
a {
  color: #ffffff;
}
a:hover {
  text-decoration: none;
}
.pad_ver {
  padding: 80px 0;
}
.color_dark {
  color: #2c3e50;
}
h3 {
  font-weight: 800;
}
/* /generale */

/* header */
#header_top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #2c3e50;
  z-index: 1
}
#header_top h2 {
  margin: 0;
  line-height: 80px;
}
#header_bottom {
  margin-top: 80px;
  background-color: #1abc9c;
}
#avatar {
  width: 240px;
}
/* /header */

/* main */
/* portfolio */
#portfolio h3 {
  margin: 0;
}
#portfolio  .col-lg-4 {
  padding: 15px;
}
#portfolio img {
  width: 100%;
  border-radius: 10px;
}
/* /portfolio */

/* about */
#about {
  background-color: #1abc9c;
}
#about h3,
#about a {
  color: #ffffff;
}
#about a {
  display: inline-block;
  padding: 16px 28px;
  border: 2px solid #ffffff;
  border-radius: 5px;
}
/* /about */

/* contact */
#contact input:not([type="submit"]),
textarea {
  display: block;
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid #e9ecef;
}
::placeholder {
  color: #6c757d;
  font-weight: 500;
  font-size: 1.2em;
}
#contact input:focus,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
/* /contact */
/* /main */

/* footer */
#footer_top {
  background-color: #2c3e50;
}
#footer_bottom {
  height: 70px;
  padding: 30px 0;
  background-color: #1a252f;
}
/* /footer */

@media screen and (max-width: 768px) {

  .pad_ver {
    padding: 60px 0;
  }

}
