/* generale */
body,
a {
  color: #ffffff;
}
a:hover {
  text-decoration: none;
}
h1 {
  margin-bottom: 0;
  font-size: 3.4em;
  font-weight: bold;
}
h2 {
  margin: 0;
  line-height: 80px;
  font-size: 1.7em;
  font-weight: bold;
}
h2 a:hover {
  color: #ffffff;
}
h3 {
  font-weight: 600;
  font-size: 3.1em;
}
h4 {
  font-size: 2em;
}
p {
  font-size: 1.4em;
}
.btn_trasp {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
  font-weight: 500;
  font-size: 17px;
}
.btn_trasp span {
  margin-right: 8px;
}
.btn_trasp:hover {
  color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn_green {
  background-color: #1abc9c;
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
  border: 0;
  margin-top: 20px;
  padding: 10px 13px;
}
.btn_green:hover {
  background-color: #159a80;
  border-color: #148f77;
  color: #ffffff;
}
.pad_ver {
  padding: 80px 0;
}
.color_dark {
  color: #2c3e50;
}
.star_decoration {
  position: relative;
  width: 20%;
  margin: auto;
}
.star_size {
  font-size: 30px;
  margin: 25px 0;
}
.star_decoration::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 40%;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.star_decoration::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 50%;
  width: 40%;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.star_decoration.dark::before,
.star_decoration.dark::after {
  border: 2px solid #2c3e50;
}
/* /generale */

/* header */
#header_top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #2c3e50;
  z-index: 1
}
nav a {
  font-weight: 700;
  padding: 0 15px;
}
ul a:hover {
  color: #1abc9c;
}
#header_bottom {
  margin-top: 80px;
  background-color: #1abc9c;
}
#avatar {
  width: 210px;
}
#header_bottom p {
  font-size: 1.4em;
  font-weight: 700;
}
/* /header */

/* main */
/* portfolio */
#portfolio h3 {
  margin: 0;
}
#portfolio .image {
  margin-bottom: 30px;
}
#portfolio img {
  width: 100%;
  border-radius: 10px;
}
/* /portfolio */

/* about */
#about {
  background-color: #1abc9c;
}
#about h3,
#about a {
  color: #ffffff;
}
#about a {
  display: inline-block;
  padding: 16px 28px;
  border: 2px solid #ffffff;
  border-radius: 5px;
}
/* /about */

/* contact */
#contact input:not([type="submit"]),
textarea {
  display: block;
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid #e9ecef;
}
::placeholder {
  color: #2c3e50;
  font-weight: 500;
  font-size: 1.2em;
}
#contact input:focus,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
/* /contact */
/* /main */

/* footer */
/* footer_top */
#footer_top {
  background-color: #2c3e50;
}
.logo_social li {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: 0 10px;
}
.logo_social li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.start_bootstrap {
  color: #1abc9c;
}
/* /footer_top */

/* footer_bottom */
#footer_bottom {
  height: 70px;
  padding: 30px 0;
  background-color: #1a252f;
}
#footer_bottom p {
  font-size: 1.1em;
}
/* /footer_bottom */
/* /footer */

@media screen and (max-width: 768px) {

  /* generale */
  h1 {
    font-size: 1.9em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 1.7em;
  }
  h4 {
    font-size: 1.4em;
  }
  .pad_ver {
    padding: 60px 0;
  }
  .hamb_thin {
    font-size: 20px;
    color: #6c757d;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .star_size {
    font-size: 25px;
  }
  .star_decoration {
    width: 50%;
  }
  .star_decoration::before {
    width: 38%;
  }
  .star_decoration::after {
    width: 38%;
  }
  .margin_top {
    margin-top: 40px;
  }

  /* /generale */

  /* header */
  #avatar {
    width: 200px;
  }
  #header_bottom p {
    font-size: 0.9em;
  }
  /* /header */

  /* footer */
  #footer_bottom p {
    font-size: 0.8em;
  }
  /* /footer */

}
